body {
    margin: 0;
    background-color: rgb(71, 17, 219);
    }
  
  #heading1 {
    text-align: center;
    color: rgb(24, 25, 26);
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(17, 189, 219);
    border-radius: 2vw;
    box-shadow: 5px 5px 20px #996ccca1;
  }

  #A{
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(71, 17, 219);
    border-radius: 1vw;
    align-content: center;
  }
  #A1{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }
    #A2{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A3{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A4{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A5{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A6{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A7{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A8{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A9{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }

  #A10{
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(17, 219, 142);
    box-shadow: 5px 5px 20px #d4ca6aa1;
    border-radius: 1vw;
    align-content: center;
  }